<div class="container">
  <h1> New Resume </h1>

<div class="row">
<%= form_for :resume, url: resumes_path do |f| %>
<div class="col-md-6">
  <div class="panel panel-default">
  <div class="panel-heading">New Resume</div>
  <div class="panel-body">
  <% if @resume.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@resume.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @resume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 </div>
</div>
</div>
<div class="col-md-6">
  <div class="panel panel-default">
  <div class="panel-heading">Contact Information</div>
  <div class="panel-body">
  <p> First Name
  <%= text_field_tag(:informationfname, @firstname) %>
  <br> Middle Name
    <%= text_field_tag(:INFmiddle) %>
  <br>Last Name
    <%= text_field_tag(:INFlastname, @lastname) %>
  <br> Phone
    <%= text_field_tag(:INFphone,@phone) %>
  <br> Email
    <%= text_field_tag(:INFemail,@email) %>
  <br> Street
    <%= text_field_tag(:INFstreet) %>
  <br> City
    <%= text_field_tag(:INFcity,@city) %>
  <br> State
    <%= text_field_tag(:INFstate,@state) %>
  <br> Zip Code
    <%= text_field_tag(:INFzip,@zip) %>
  </p>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
  <div class="panel panel-default">
  <div class="panel-heading">Objective</div>
  <div class="panel-body">
  <p>Position
    <%= text_field_tag(:OBJposition) %>
  <br>Time Period of Desired Position
    <%= text_field_tag(:OBJdate) %>
<br> Full Time(Y)/Parttime or Internship(N)
    <%= check_box_tag(:OBJfull) %>
  </p>
</div>
  <div class="panel-heading">Work Experience</div>
  <div class="panel-body">
    <p> Company
      <%= text_field_tag(:WRKcompany) %>
      <br> Position 
      <%= text_field_tag(:WRKposition) %>
      <br> Start Date
      <%= text_field_tag(:WRKdatestart) %>
      <br> End Date
      <%= text_field_tag(:WRKdateend) %>
    </p>
    </div>
</div>
</div>

<div class="col-md-6">
  <div class="panel panel-default">
  <div class="panel-heading">Education</div>
  <div class="panel-body">
    <p>School
      <%= text_field_tag(:EDUschool) %>
      <br>School Code
      <%= text_field_tag(:EDUcode) %>
      <br> City
      <%= text_field_tag(:EDUcity,@city) %>
      <br>State
      <%= text_field_tag(:EDUstate,@state) %>
      <br>Degree Type
      <%= text_field_tag(:EDUtype,@degreetype) %>
      <br>Degree
      <%= text_field_tag(:EDUdegree,@degree) %>
      <br>Grad Date
      <%= text_field_tag(:EDUdate) %>
      <br>Major GPA
      <%= text_field_tag(:EDUmgpa,@gpa) %>
      <br>GPA
      <%= text_field_tag(:EDUgpa,@gpa) %>
    </p>
  </div>
</div>
</div>
</div>

  <p>
    <%= f.submit %>
  </p>
</div>
<% end %>